<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browserName" value="chrome"/>
    <listeners>
        <listener class-name="failtestcases.IAnnotation"/>
    </listeners>
    <test verbose="10" preserve-order="true" name="E:/Repo/SDETMavenSeleniumProject">
        <classes>
            <class name="failtestcases.FailTestScripts"/>
        </classes>
    </test>
</suite>